// variable codes for colors

$white: #FFF;
$black: #000;
$grey: #737373;
$orange: #FFA43C;
$green: #56B650;
$blue: #0295F1;
$red: #E42D2D;

$light-grey: #CCC;
$midgreen-apple: #7ec237;
$green-apple: #56B650;

$body-background: #EEE;
$black-background: #171717;
$active-blue: #00ACC1;
$link-blue: #0066FF;
$header-blue: #1574CF;
$btn-blue: #1A93F0;
$cancel-grey: #F4F4F4;
$highlight-blue: rgb(183, 244, 250);
$link-grey: #939393;
$btn-grey: #9F9F9F;
$background-grey: #F7F7F7;
$text-color: #515151;
$text-profile: #323232;
$title-color: #BABABA;
$seeall-color: #565656;
$red-highlight: #F55555;
$disabled-grey: #F8F9Fa;

$default-info: #FAFAFA;
$default-header: #FAFDFF;

$shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

// warning message colors
$primaryColor: #31708F;
$warningColor: #8A6d3B;
$dangerColor: #f44336;
$successColor: #3C763D;

$blue-background: #E7F1F8;
$red-background: #FCECEE;
$green-background: #EEF8ED;
$orange-background:  #FFF6EB;
$purple-background: #F1EDF6;
$musk-background: #FCF5ED;

// for marker
$economic-drivers: #FFAA48;
$use-cases: #FF7EA8;
$pain-points: #00FFFF;
$personas: #4BAE57;
$value-proposition: #7A48FB;
$objections: #6D4D43;
$content: #FF5351;
$competition: #FFFF38;
$partners: #8EA2AC;


// for graph
$bright-blue-background: #42B4D6;
$yellow-background: #FAd666;
$pink-background: #F18798;

//overlay
$overlay-black: rgba(0, 0, 0, 0.7);
