doctype html

html
  head
    meta(charset='UTF-8')
    title Visual Editor
    style.
      body { width: 500px; }
  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src=env == 'prod' ? '/js/editor-popup.bundle.js' : '/js/editor-popup.bundle.js')
